.row {
    display: flex;
    width: 100%;
    gap : 0.5em;
    padding: 0.5em;
}

.align-end {
    align-items: end;
}

.justify-end {
    justify-content: end;
}

.justify-start {
    justify-content: start;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}

.justify-between  {
    justify-content: space-between;
}

.col-first {
    width : 60%;
}

.col-second {
    width : 40%;
}

.contour{
    padding: 0 1em;
    width: 100%;
    box-shadow: 1px 1px 5px var(--secondary-accent) ;
    border-radius: 0.8em;
    overflow-y: scroll;
    margin: 0.7em 0.2em;
}

.row-cart {
    display:flex;
    justify-content: space-between;
    align-items :center;
    width:100%;
    height: 50%;
}

.row-cart .col {
    display:flex;
    flex-direction: column;
    width : 18%;
    justify-content: center;
    align-items :center;
}

.row-cart .col > img{
    width : 100%;
    height: 10em;
    border-radius: 0.8em;
    object-fit: cover;
}

.row-cart .col:last-child{
    justify-content: end;
}

button{
    border-radius: 0.4em;
}

.add{
    width: 50%;
    height: 3em;
}

.col-second .col {
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    height: 100%;
}

input, .col-second > .col > button{
    padding : 1.5em;
    border-radius: 0.8em;
}

button[type=submit] {
    height: 10%;
    width: 100%;
}

input{
    border: 1px solid var(--secondary-accent);
    background-color: #f9fafb;
    width: 100%;
}

.row > input + label {
    width: 200%;
}

.h {
    height: 96.3vh;
}

.badge {
    border-radius: 0.5em;
    padding: 1.5em 1em;
    color:white;
}

#badge-airtel {
    background-color: #ee171f;
}

#badge-stripe {
    background-color: #6773e6;
}

#badge-paypal {
    background-color: #27346a;
}

@media screen and (max-width: 380px) {
    .col-first, .col-second {
        width : 100%;
    }
    .h {
        height: 89.3vh;
        padding-bottom: 1em;
    }
}